---
import Layout from "@/components/layout.astro";
import { EmployeeList } from "./_list";
import { CreateEmployeeSheet } from "./_create-employee-sheet";
import { UpdateEmployeeSheet } from "./_update-employee-sheet";
import { CreateEmployeeButton } from "./_create-employee-button";
---

<Layout title="Employee App">
  <section class="flex flex-col items-center justfy-center w-full gap-4">
    <h1 class="w-full text-left text-3xl font-bold">Employees Management</h1>
    <div class="flex justify-start w-full">
      <CreateEmployeeButton client:load />
    </div>
    <EmployeeList client:load />
    <CreateEmployeeSheet client:load />
    <UpdateEmployeeSheet client:load />
  </section>
</Layout>
