---
import Layout from "@/components/layout.astro";
import TodoForm from "./_form.tsx";
import TodoList from "./_list.tsx";
---

<Layout title="Todo App">
  <section class="flex flex-col items-center justfy-center w-full gap-2">
    <h1 class="text-3xl font-bold">Todo</h1>
    <TodoForm client:load />
    <TodoList client:load />
  </section>
</Layout>
