---
import { ThemeToggle } from "./theme-toggle";
import { Button } from "../ui/button";
import { LogOut } from "lucide-react";

const currentPath = Astro.url.pathname;
const isActive = (path: string) => currentPath === path;
const links = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Todo App",
    path: "/todo",
  },
  {
    name: "Employee App",
    path: "/employee",
  },
];

if (Astro.request.method === "POST") {
  Astro.cookies.delete("auth");
}
---

<div class="sticky top-0 w-full bg-background">
  <nav
    class="flex items-center justify-between p-2 border-b border-primary-foreground"
  >
    <div></div>
    <ul class="flex gap-2">
      {
        links.map((link) => (
          <li>
            <Button variant={isActive(link.path) ? "default" : "outline"}>
              <a href={link.path} class="w-full h-full text-center">
                {link.name}
              </a>
            </Button>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center gap-2">
      <ThemeToggle client:load />
      <form class="flex items-center" method="POST">
        <Button size="icon" variant="ghost" type="submit">
          <LogOut className="h-[1.2rem] w-[1.2rem]" />
        </Button>
        <form></form>
      </form>
    </div>
  </nav>
</div>
